@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";


/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: "Poppins", sans-serif; */
}

@layer base {
  html {
    @apply scroll-smooth;
  }
}


video {
  filter: contrast(0.98) saturate(0.97) brightness(1.02);
}

/* .poppins{
  font-family: "Poppins", sans-serif;
} */


.font-poppins{
  font-family: "Poppins", sans-serif;
}

.font-host{
  font-family: "Host Grotesk", sans-serif;
}



.host-medium {
  font-weight: 500;
}

.host-semibold {
  font-weight: 600;
}

.host-bold {
  font-weight: 700;
}

.host-extrabold {
  font-weight: 800;
}



.poppins-light {
  font-weight: 300;
}

.poppins-medium{
  font-weight: 500;
}

.poppins-semibold {
  font-weight: 600;
}

.poppins-bold {
  font-weight: 700;
}



